.message-single {
    padding: 15px 5px;
    border-bottom: 1px solid #ccc;
}

/* BS4 */
.bg-warning {
    background-color: #fcf8e3!important
}
.bg-danger {
    background-color: #f2dede!important
}
/* END BS4 */